@use 'base/variables' as v;
@use 'base/mixins' as m;

.footer {

    background-color: v.$primario;
    padding: 5rem 0 0 0;
    margin-top: 5rem;
    &__heading {
        color: v.$blanco;
        font-size: 2rem;
        text-transform: uppercase;
    }

    &__texto {
        color: v.$blanco;
    }

    &__navegacion {
        display: flex;
        flex-direction: column;
    }

    &__link {
        color: v.$blanco;
        margin-bottom: 1rem;
    }

    &__link:last-of-type {
        margin-bottom: 0;
    }

    &__grid {
        @include m.tablet {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
        }
        padding: 0 0 5rem 0;
    }

    &__box:last-child {
        @include m.tablet {
            width: 100%;
        }
    }

    &__copyright {
        text-align: center;
        color: v.$blanco;
        background-color: darken(v.$primario, 10%);
        padding: 1rem;
        margin: 0;
    }

}
